.win.styles.margin-bottom.fix
    input(
        config
        type='button'
        value='Back'
    )

.players
    .player.playerX
    .player.playerO

//- ROWS
- var i = 0
- var k = 0

while i < NUM
    .row
        //- COLUMNS
        - var j = 0

        while j < NUM
            - var diagonal = (i === j) ? 'true' : false
            - var reverseDiagonal = (k === 2 || k === 4 || k === 6) ? 'true' : false

            .column(
                column-num=j
                is-diagonal=diagonal
                is-reverse-diagonal=reverseDiagonal
                row-num=i
            )
                img.styles.view-none(src='assets/x.png')

            - j++
            - k++
    - i++