include views/_mixins/mixins
doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Multi-Tic-Tac-Toe jQuery
        meta(
            content=''
            name='description'
        )
        //- link(
        //-     href='favicon.ico'
        //-     rel='shortcut icon'
        //- )
        link(
            href='styles/main.css'
            rel='stylesheet'
        )
    body
        .scenario
            .players
                .player.playerX
                    span X
                    input
                .player.playerO
                    input
                    span O

            //- ROWS
            - var i = 0
            - var k = 0

            while i < NUM
                .row
                    //- COLUMNS
                    - var j = 0

                    while j < NUM
                        - var diagonal = (i === j) ? 'true' : false
                        - var reverseDiagonal = (k === 2 || k === 4 || k === 6) ? 'true' : false

                        .column(
                            column-num=j
                            is-diagonal=diagonal
                            is-reverse-diagonal=reverseDiagonal
                            row-num=i
                        )
                            img.none(src='assets/x.png')

                        - j++
                        - k++
                - i++

        +script-min-ini()

        +script-min('js/index.js')

        +script-min-end()